/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 4, 2023, 10:05:55 AM
    Author     : DELL
*/

.bg-custom{
    background-color: #29b6f6;
}
.navbar .nav-item:hover .nav-link{
    background-color: white;
    color: black;
    border-radius: 15px;
}